body{
    font-family: sans-serif;
    background-color: #160c36;
    color: #fff;
    height: 100%;
    text-align: justify;
    padding: 64px;
}

.game{
    padding: 32px;
    background-color: #323232;
}

.game h1{
    text-align: center;
    margin: -10px;
    cursor: pointer;
}

.questao{
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
}

.title p{
    font-weight: bold;
    font-size: 32px;
}

.respostas{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    margin: auto;
    cursor: pointer;
}

.respostas input{
    margin: 16px;
    cursor: pointer;
}

.resposta{
    display: flex;
}

.navegacao{
    display: flex;
    justify-content: space-between;
}

.botao {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #111111;
    color: #1E90FF;
    font-weight: bold;
    border: 2px bold;
    border-color: #1E90FF;
}

.botao:hover {
    background-color: #7B68EE;
    color: white;
}

.quantidade{
    font-weight: bold;
    font-size: 16px;
}

.game select{
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background-color: #111111;
    color: #FFF;
    border: 2px bold;
    border-color: #1E90FF;
}